# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\真学习文件\特殊语法\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
